<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel= "stylesheet" type= "text/css" href="/stylesheets/app.css">

        <title> BLOG APP</title>
    </head>
    <body>
        <div class ="ui fixed inverted menu">
          <div class="ui container">
              <div class = "header item"><i class="code icon"></i>Blog Site</div>
            <a href="/" class="item">HOME</a>
            <a href="/blogs/new" class='item'>New Post</a>
          </div>
        </div>
    </body>
</html>
